<style>
  .wf-loading * { opacity: 0; }
  .wf-active *, .wf-inactive * {
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
  }
</style>
<script id="font-script" type="text/javascript">
  WebFontConfig = {
    google: { families: [ "Open+Sans:400,600:latin" ] }
  };
  (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>