<div class="bg-white small">
  <a id="skip-to-main-link" href="#main" class="sr-only sr-only-focusable">Skip to main content.</a>
  <div class="container-fluid bg-pennymac-blue-light">
    <div class="container pt-2 px-0">
      <nav class="navbar navbar-toggleable-sm" role="menu">
        <div class="h5 navbar-brand mt-2 text-white mr-3 pb-1"><a href="{{ '/' | relative_url }}">PennyMac UX</a></div>
        <span class="ml-auto">
          <div class="nav-item dropdown d-inline p-0 mr-3">
            <button id="reports-dropdown-desktop" class="nav-link dropdown-toggle mb-1 rounded-0 border-0 p-2 text-nowrap d-inline bg-pennymac-blue-light text-pennymac-blue-lightest underlineable" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-link="{{ '/ada/reports/' | relative_url }}">
              ADA Reports
            </button>
            <div class="dropdown-menu rounded p-0 mt-3" aria-labelledby="reports-dropdown-desktop">
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-top p-2 text-nowrap" href="{{ '/ada/reports/usa/' | relative_url }}">
                PennyMac USA
              </a>
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-0 p-2 text-nowrap" href="{{ '/ada/reports/pcref/' | relative_url }}">
                PCREF
              </a>
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-0 p-2 text-nowrap" href="{{ '/ada/reports/broker-direct/' | relative_url }}">
                Broker Direct
              </a>
            </div>
          </div>
          <div class="nav-item dropdown d-inline p-0 mr-3">
            <button id="bricks-dropdown-desktop" class="nav-link dropdown-toggle mb-1 rounded-0 border-0 p-2 text-nowrap d-inline bg-pennymac-blue-light text-pennymac-blue-lightest underlineable" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-link="{{ '/bricks/' | relative_url }}">
              Bricks
            </button>
            <div class="dropdown-menu rounded p-0 mt-3" aria-labelledby="bricks-dropdown-desktop">
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-top p-2 text-nowrap" href="{{ '/bricks/' | relative_url }}">
                Getting Started
              </a>
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-0 p-2 text-nowrap" href="{{ '/bricks/components/' | relative_url }}">
                Components
              </a>
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-0 p-2 text-nowrap" href="https://pennymac.github.io/bricks/" target="_blank" rel="nofollow">
                Bricks v1 - deprecated
              </a>
              <a role="menuitem" class="dropdown-item text-pennymac-cyan-dark small rounded-0 p-2 text-nowrap" href="https://pennypixels.pennymacusa.com/" target="_blank" rel="nofollow">
                PennyPixels - deprecated
              </a>
            </div>
          </div>
          <a role="menuitem" href="https://pennymac.github.io/levelup/" target="_blank" rel="nofollow" class="nav-item nav-link p-2 text-nowrap d-inline text-pennymac-blue-lightest mr-3">
            LevelUp <i class="ml-1 fa fa-external-link" aria-hidden="true"></i>
          </a>
        </span>
      </nav>
    </div>
  </div>
</div>