{% if paginator.total_pages > 1 %}
  <nav aria-label="Pages" role="navigation">

    {% if paginator.previous_page %}
      <a class="btn btn-info btn-lg rounded-ends m-3 px-5" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
        Previous
      </a>
    {% endif %}

    <br class="hidden-sm-up">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    <br class="hidden-sm-up">

    {% if paginator.next_page %}
      <a class="btn btn-info btn-lg rounded-ends m-3 px-5" href="{{ paginator.next_page_path | relative_url }}">
        Next
      </a>
    {% endif %}

  </nav>
{% endif %}